<title> Admin - Home </title>
<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="main__title">
                    <h2> Welcome, Uzair Afzal </h2>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span> Total Movies </span>
                    <p> {{ totalMovies }} </p>
                    <i class="icon ion-ios-film"></i>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span> Total Movie Requests </span>
                    <p> {{ totalMovieRequests }} </p>
                    <i class="icon ion-ios-film"></i>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span> Total Genres </span>
                    <p> {{ totalGenres }} </p>
                    <i class="icon ion-ios-stats"></i>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span> Total Users </span>
                    <p> {{ totalUsers }} </p>
                    <i class="icon ion-ios-stats"></i> 
                </div>
            </div>
        </div>
    </div>
</main>