<title> Admin - Home </title>
<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Welcome, Uzair Afzal</h2>
                </div>
            </div>
            <!-- end main title -->
            <!-- stats -->
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span>Unique views this month</span>
                    <p>5 678</p>
                    <!-- <i class="icon ion-ios-stats"></i> -->
                </div>
            </div>
            <!-- end stats -->

            <!-- stats -->
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span>Items added this month</span>
                    <p>172</p>
                    <!-- <i class="icon ion-ios-film"></i> -->
                </div>
            </div>
            <!-- end stats -->

            <!-- stats -->
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span>New comments</span>
                    <p>2 573</p>
                    <!-- <i class="icon ion-ios-chatbubbles"></i> -->
                </div>
            </div>
            <!-- end stats -->

            <!-- stats -->
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span>New reviews</span>
                    <p>1 021</p>
                    <!-- <i class="icon ion-ios-star-half"></i> -->
                </div>
            </div>
            <!-- end stats -->            
        </div>
    </div>
</main>
<!-- end main content -->