<!-- start footer -->
    <!-- how it works -->
	<section class="section section--dark">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title section__title--no-margin">How it works?</h2>
				</div>
				<!-- end section title -->

				<!-- how box -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="how">
						<span class="how__number">01</span>
						<h3 class="how__title">Search Movies</h3>
						<p class="how__text"> Search for your favourite movies, see their ratings and read their reviews </p>
					</div>
				</div>
				<!-- ebd how box -->

				<!-- how box -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="how">
						<span class="how__number">02</span>
						<h3 class="how__title"> Create an Account </h3>
						<p class="how__text"> Once you sign up, you will get movie commenting, reviewing and rating privileges </p>
					</div>
				</div>
				<!-- ebd how box -->

				<!-- how box -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="how">
						<span class="how__number">03</span>
						<h3 class="how__title"> Add Movies </h3>
						<p class="how__text"> If your favourite movie is not listed here, you can easily lodge a request with the admins for addition of that movie  </p>
					</div>
				</div>
				<!-- ebd how box -->
			</div>
		</div>
	</section>
	<!-- end how it works -->

    <!-- page title -->
    <section class="section section--first section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<h2 class="section__title"> About Me </h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->

    <!-- about -->
	<section class="section">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title"><b> Uzair Afzal </b> – Computer Scientist & Software Engineer </h2>
				</div>
				<!-- end section title -->

				<!-- section text -->
				<div class="col-12">
                    
					<p class="section__text section__text--last-with-margin"> 
                        I am a final-year computer science and software engineering student at Lahore University of Management Sciences (LUMS). 
                        I describe myself as a technology-business enthusiast. 
                        I am very much intrigued by computer hardware and the semiconductor industry, finance of investments and economics, and technology entrepreneurship. 
                        I have been engineering the web and non-native cross-platform mobile apps since 2019, and I am quite passionate about it as well. 
                        Get in touch, or visit <a href="http://uzair-reviews.com"> my website </a> here </p>
				</div>
				<!-- end section text -->

				<!-- feature -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="feature">
                        <i class="icon ion-ios-star feature__icon"></i>
						<h3 class="feature__title"> Mobile Development </h3>
						<p class="feature__text"> Using React-Native, I have <a style="color:#ff55a5;" href = "https://expo.io/@uzair9990/projects/MobileMechanic"> developed </a> cross-platform apps for android and iOS </p>
					</div>
				</div>
				<!-- end feature -->

                <!-- feature -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="feature">
						<i class="icon ion-ios-tv feature__icon"></i>
						<h3 class="feature__title"> Web Development </h3>
						<p class="feature__text"> I started off my software engineering career with web development on the <a style="color:#ff55a5;" href="http://uzair-reviews.com/Blogs"> LAMPP stack </a> as well the <a style="color:#ff55a5;" href = "https://github.com/uzair9/ludo"> MERN stack</a> </p>
					</div>
				</div>
				<!-- end feature -->

				<!-- feature -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="feature">
						<i class="icon ion-ios-contacts feature__icon"></i>
						<h3 class="feature__title"> Networks & Blockchain </h3>
						<p class="feature__text"> I have sound understanding of cryptography, decentralization, distribution and crypto mining </p>
					</div>
				</div>
				<!-- end feature -->

				<!-- feature -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="feature">
                        <i class = "icon ion-ios-chatbubbles feature__icon"></i>
						<h3 class="feature__title"> Blogging </h3>
						<p class="feature__text"> I manage a <a style="color:#ff55a5;" href="http://uzair-reviews.com/Blogs/"> blogging system </a> on the LAMPP stack and write my own blogs for fun </p>
					</div>
				</div>
				<!-- end feature -->
				
                <!-- feature -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="feature">
						<i class="icon ion-ios-film feature__icon"></i>
						<h3 class="feature__title"> IMDb Movie Critic </h3>
						<p class="feature__text"> I like to critique movies while watching them for fun, of course. I regularly <a style="color:#ff55a5;" href="https://www.imdb.com/user/ur83200989/?ref_=nv_usr_prof_2"> rate and review </a> on IMDb </p>
					</div>
				</div>
				<!-- end feature -->
			</div>
		</div>
	</section>
	<!-- end about -->

    <footer class="footer">
		<div class="container">
			<div class="row">
				<!-- footer list -->
				<div class="col-6 col-sm-4 col-md-3">
					<h6 class="footer__title"> Access </h6>
					<ul class="footer__list">
						<li><a href="/signin"> Sign In </a></li>
						<li><a href="signup"> Sign Up </a></li>
					</ul>
				</div>
				<!-- end footer list -->
				
                <!-- footer list -->
				<div class="col-6 col-sm-4 col-md-3">
					<h6 class="footer__title"> Follow </h6>
					<ul class="footer__list">
						<li><a href="https://www.facebook.com/people/Uzair-Afzal/100006982786800"> Facebook </a></li>
						<li><a href="https://www.quora.com/profile/Uzair-Afzal-6?ch=3&share=3172a5e8&srid=5QMhN"> Quora </a></li>
						<li><a href="https://www.imdb.com/user/ur83200989/?ref_=nv_usr_prof_2"> IMDb </a></li>
					</ul>
				</div>
				<!-- end footer list -->


				<!-- footer list -->
				<div class="col-12 col-sm-4 col-md-3">
					<h6 class="footer__title"> Connect </h6>
					<ul class="footer__list">
						<li><a href="tel:+9232178601"> Call </a></li>
						<li><a href="mailto:working9990@gmail.com"> Email </a></li>
					</ul>
				</div>

                <!-- footer list -->
				<div class="col-6 col-sm-4 col-md-3">
					<h6 class="footer__title"> Request Movies </h6>
					<ul class="footer__list">
						<li><a href = "/home"> Go To Homepage </a></li>
					</ul>
				</div>
				<!-- end footer list -->
			</div>
		</div>
	</footer>
	<!-- end footer -->
