    <!-- header -->
<header class="header">
    <div class="header__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__content">
                        <!-- header nav -->
                        <ul class="header__nav">
                            <!-- dropdown -->
                            {{!-- <li class="header__nav-item">
                                <a class="header__nav-link header__nav-link" class="dropdown-toggle header__nav-link" href="/home" role="button" id="dropdownMenuHome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                            </li> --}}
                            <li class="header__nav-item">
                                <a href="/home" class="header__nav-link"> Home </a>
                            </li>
                            <!-- end dropdown -->

                            <li class="header__nav-item">
                                <a href="/home/faq" class="header__nav-link"> FAQ </a>
                            </li>

                            <li class="header__nav-item">
                                <a href="/signin" class="header__nav-link"> Sign In </a>
                            </li>

                            <li class="header__nav-item">
                                <a href="/signup" class="header__nav-link"> Sign Up </a>
                            </li>

                            <!-- dropdown -->
                            <li class="dropdown header__nav-item">
                                <a class="dropdown-toggle header__nav-link header__nav-link--more" href="#" role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon ion-ios-more"></i></a>

                                <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuMore">
                                    <!-- <li><a href="about.html">About</a></li> -->
                                </ul>
                            </li>
                            <!-- end dropdown -->
                        </ul>
                        <!-- end header nav -->

                        <!-- header auth -->
                        <div class="header__auth">
                            <button class="header__search-btn" type="button">
                                <i class="icon ion-ios-search"></i>
                            </button>
                        </div>
                        <!-- end header auth -->

                        <!-- header menu btn -->
                        <button class="header__btn" type="button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <!-- end header menu btn -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header search -->
    <form action= "/home/movies/search" method = "post" class="header__search">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__search-content">
                        <input autofocus name = "keyword" type="text" placeholder="Search by Movie Name" required>
                        <button type = "submit"> Search </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end header search -->
</header>
<!-- end header -->