<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="css/select2.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/admin.css">
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="icon/favicon-32x32.png">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    {{!-- <title> Admin </title> --}}
</head>
<body>
    {{!-- Header taken out to partials/admin-header.handlebars file and included here --}}
    {{!-- Remember, this syntax lets handlebars know that you wanna take a peek into partials folder for getting the file --}}
    {{> admin-header}}


    {{!-- Sidebar taken out to partials/admin-sidebar.handlebars file and included here --}}
    {{!-- Remember, this syntax lets handlebars know that you wanna take a peek into partials folder for getting the file --}}
    {{> admin-sidebar}}


    {{!-- Main content taken out to views/admin/page-content.handlebars file and included here --}}
    {{!-- Remember, this syntax lets handlebars know that you wanna get the file and render what is being served from the main route, i.e., page-content "/"(inside routes/admin/main.js) --}}
    {{{ body }}}

    <!-- JS -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.mousewheel.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/admin.js"></script>
</body>
</html>
