<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet"> 

	<!-- CSS -->
	<link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="/css/nouislider.min.css">
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<link rel="stylesheet" href="/css/plyr.css">
	<link rel="stylesheet" href="/css/photoswipe.css">
	<link rel="stylesheet" href="/css/default-skin.css">
	<link rel="stylesheet" href="/css/main.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="/icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-touch-icon-144x144.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title> FAQ </title>

</head>
<body class="body">

	<!-- page title -->
	<section class="section section--first section--bg" data-bg="/img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<!-- section title -->
						<h2 class="section__title"> Frequently Asked Questions (FAQ)</h2>
						<!-- end section title -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->

	<!-- faq -->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6">
					<div class="faq">
						<h3 style = "color: #ff55af" class="faq__title"> How Do I Search My Favourite Movies? </h3>
						<p style = "color: white" class="faq__text"> 
                            You can go to our <a style = "color: #ff55af" href = "/home"> homepage </a> and click on the 
                            "search" icon at the top to search any movie that you would like to 
                            rate and review
                        </p>
					</div>
					<div class="faq">
						<h3 style = "color: #ff55af" class="faq__title"> How Do I Sign In? </h3>
						<p style = "color: white"  class="faq__text"> 
                            It is very easy. You can go to our <a style = "color: #ff55af" href = "/home/signup"> Sign Up </a> page to regiester
                            yourself. Once done, you will be redirected to the <a style = "color: #ff55af" href = "/signin"> Sign In </a> page
                            where you will be required to add the same credentials as you did while signing up
                        </p>
					</div>
					<div class="faq">
						<h3 style = "color: #ff55af" class="faq__title"> What Can I Do On This Platform? </h3>
						<p style = "color: white"  class="faq__text">
                            Without signing in, your activities will be quite limited, as you will be able 
                            to only see the movies that have already been added by the admins <br> <br>
                            But, if you choose to sign up and then sign in, you will have plethora of
                            opportunities to interact on this platform. Following is the list of all such activities: 
                            <li  style = "color: white" "> You can rate movies</li>
                            <li  style = "color: white" "> You can write reviews about movies </li>
                            <li  style = "color: white" "> You can upvote / downvote other reviews </li>
                            <li  style = "color: white" "> You can add a request with admins for adding a specific movie on this platform that you like </li>
                            
                        </p>
					</div>

					<div class="faq">
						<h3 style = "color: #ff55af" class="faq__title"> How Do I Rate and Review Movies? </h3>
						<p style = "color: white"  class="faq__text">
                            After signing in, you can search for your favourite movie
                            On the bottom of the page, you will see a form, titled <a style = "color: #ff55af">
                                "Share Your Thoughts?"
                            </a>. You can use that platform to rate a movie and write reviews as well
                        </p>
					</div>

					<div class="faq">
						<h3 style = "color: #ff55af" class="faq__title"> How Do I Upvote / Downvote Somebody's Reviews? </h3>
						<p style = "color: white"  class="faq__text">
                            Under every review, there are thumbsup and thumbs down icons. 
                            You can use them to appreciate / criticise the author's thoughts. 
                            Remember, we are all here to interact and enjoy. So, please be gentle
                            while criticizing others
                        </p>
					</div>
				</div>


                {{!-- second column starts --}}


				<div class="col-12 col-md-6">
					<div class="faq">
						<h3 style = "color: #ff55af" class="faq__title"> Can I See Who Upvoted / Downvoted My Review? </h3>
						<p style = "color: white" class="faq__text">
                            No, you cannot. There is no way to know who appreciates / criticizes you
                            by upvoting or downvoting your reviews. We respect every user's privacy and the right to express openly. 
                            And we expect you to do the same as well
                            <br> <br>
                            However, we do call upon all our users to be gentle and fair with each other. We discourage
                            strongly any activities targeted towards a specific gender, sex, race or nationality
                        </p>
					</div>

					<div class="faq">
						<h3 style = "color: #ff55af"  class="faq__title"> The Like / Dislike Buttons Do Not Appear. Why? </h3>
						<p style = "color: white"   class="faq__text">
                            That happens only when you are not signed in. You need to sign up to register yourself
                            and then sign in to make sure that you activities on our platform are not limited, 
                            and that you can enjoy full freedom of speech and expression on this platform
                        </p>
					</div>

					<div class="faq">
						<h3 style = "color: #ff55af" class="faq__title"> The Button to Request Movie Does Not Appear. Why? </h3>
						<p style = "color: white"   class="faq__text">
                            That happens only when you are not signed in. You need to sign up to register yourself
                            and then sign in to make sure that you activities on our platform are not limited, 
                            and that you can log a request for addition of any movie that you want
                        </p>
					</div>

					<div class="faq">
						<h3 style = "color: #ff55af" class="faq__title"> How to Contact You? </h3>
						<p style = "color: white" class="faq__text">
                            At the bottom of this page, there is an option to call me or send me an email. 
                            You can use either of them to reach out to me
                        </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end faq -->

	<!-- footer -->
	{{> home-footer }}
	<!-- end footer -->

	<!-- JS -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.mousewheel.min.js"></script>
	<script src="/js/jquery.mCustomScrollbar.min.js"></script>
	<script src="/js/wNumb.js"></script>
	<script src="/js/nouislider.min.js"></script>
	<script src="/js/plyr.min.js"></script>
	<script src="/js/jquery.morelines.min.js"></script>
	<script src="/js/photoswipe.min.js"></script>
	<script src="/js/photoswipe-ui-default.min.js"></script>
	<script src="/js/main.js"></script>
</body>

</html>